<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <h1>{{title}}</h1> <!aqui estamos viendo como se injectan los datos al documento html desde la funcion response en app.js>
    <p>Created by {{name}}</p>
    
</body>
  
<html>